/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #111;
    color: rgba(255, 255, 255, 0.5);
}
.text-primary{
    color: rgba(255, 255, 255, 0.5);
}
.text-title{
    color: #FFFFFF;
}
.text-light{
    color: #E6533C;
}
.container{
    max-width: 1060px;
    margin:0 auto;
}

/* Shared */
.flex{
    display: flex;
}

/* Header */
.header{
    background: linear-gradient(to bottom, #222, #111);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
}
.navbar-logo{
    font-size: 2.25rem;
    color: #E6533C;
    font-style: italic;
}
.navbar-menu{
    /* gap:30px; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.navbar-menu li{
    list-style: none;
}
.navbar-menu li a{
    text-decoration: none;
    /* margin-left: 40px; */
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    padding: 12px 30px;
    display: block;
}

.banner{}
.banner-content{
    width: 70%;
}
.banner-title{
    font-size: 4.75rem;
}
.banner-image{
    width: 30%;
}