/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-inter{
    font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background-color: #111;
    color: rgba(255, 255, 255, 0.5);
}
.text-primary{
    color: rgba(255, 255, 255, 0.5);
}
.text-title{
    color: #FFFFFF;
}
.text-light{
    color: #E6533C;
}
.container{
    max-width: 1060px;
    margin:0 auto;
}

/* Shared */
.flex{
    display: flex;
}
.btn-primary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: #E6533C;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.btn-secondary{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    cursor: pointer;
}
/* Header */
.header{
    background: linear-gradient(to bottom, #222, #111);
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 55px 0;
}
.navbar-logo{
    font-size: 2.25rem;
    color: #E6533C;
    font-style: italic;
}
.navbar-menu{
    /* gap:30px; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.navbar-menu li{
    list-style: none;
}
.navbar-menu li a{
    text-decoration: none;
    /* margin-left: 40px; */
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    padding: 12px 30px;
    display: block;
}

.banner{
    gap: 50px;
    align-items: center;
}
.banner-content{
    width: 70%;
}
.banner-title{
    font-size: 4.75rem;
    margin-bottom: 28px;
}
.banner-description{
    width: 75%;
    margin-bottom: 28px;
}
.banner-btn{
    display: flex;
    gap: 14px;
}
.banner-image{
    width: 30%;
    position: relative;
}
.banner-img-pos-box{
    width: 190px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px 24px;
    border-radius: 12px;
    backdrop-filter: blur(20px);
}
.banner-img-pos-box h4{
    font-size: 2.5rem;
    color: #fff;
    font-weight: 900;
    margin-bottom: 5px;
}
.banner-img-pos-box span{
    font-size: .80rem;
    font-weight: 400;
}
.banner-img-pos-1{
    position: absolute;
    top: 125px;
    left: 210px;
}
.banner-img-pos-2{
    position: absolute;
    bottom: 60px;
    right: 240px;
}